@model ppmwebapp.model.Project

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Would you like to continue?</h3>
<div >
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Budget)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input class="btn btn-primary" type="submit" value="Yes" />
        <a class="btn btn-danger" asp-action="Index">No</a>
    </form>

</div>
